div.row.content-item
  div.pull-left
    img.img-thumbnail(ng-if="item.data.icon.length > 0" ng-src="{{'https://bccs.nakao-lab.org/mob/image/' + item.data.icon}}" width="50px" height="50px")
    img.img-thumbnail(ng-if="item.data.icon === null" src="http://placehold.it/50x50?text=no+img" width="50px" height="50px")
  div.pull-left
    h4.list-group-item-heading {{item.data.title}}
    p.list-group-item-text.list-detail {{item.data.body | limitTo: 60}}{{item.data.body.length > 60 ? '...' : ''}}
