{
  "wfms" : {
    "server": "<YOUR SERVER ADDRESS>",
    "content_req_uri": "/cms/api/v1/contents",
    "content_type": {
      "news": "news",
      "banner": "banner"
    },
    "delivery_req_uri" : "/cms/api/v1/deliveries"
  }

}
